#menu-trigger {
    width: 30px;
    height: 20px;
    position: absolute;
    top: 10px;
    margin-right: 20px;
    right: 0;
    cursor: pointer;
    }
     
    .menu-trigger div {
    width: 30px;
    height: 4px;
    background: rgb(51, 51, 51) none repeat scroll 0% 0%;
    margin-top: 3px;
    }

    .menu-hidde {
        background: #333 none repeat scroll 0% 0%;
        width: 185px;
        height: 100%;
        position: absolute; /*necessária para o funcionamento*/
        box-shadow: 1px 2px 3px #DDD;
        left: -100%;  /*é com essa propriedade que o menu fica escondido a esquerda*/
        transition: left .5s;
        }
         
        .menu-hidde li {
        color: #fff;
        font-size: 20px;
        padding: 18px;
        cursor: pointer;
        }
         
        .menu-hidde ul {
        position: absolute;
        top: 31px;