}

a{

    padding: 0px;
    margin: 0px;

}

a{
    text-decoration: none;
    color:black;
}

body{
    font-family: arial;


}

ul{
    List-style: none;
}

img{
    width: 40px;
}

input[type="checkbox"]
{
    display: none;
}

nav
{
    background-color: rgba(10,10,10,.3);
    width: 350px;
    height: 100%;
}
ul{
    background-color: blue;
}

a{
    background-color: grey;
    display: block;
    padding: 15px 3px;
}

a:hover{
    background-color: rgb(176,224,230);
    color: black;
}

label{
    background-color: grey;
    padding: 15px;
    position: absolute;
}
